@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body {
    min-height:100vh;
    background: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.header {
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 150px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: black;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.nav-links ul li:hover {
    color: #f44336;
}

.text-box {
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 50px;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 14px;
    color: white;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover {
    border: 1px solid #A17F63;
    background: #A17F63;
    transition: 1s;
}

nav .fa {
    display: none;
}

@media(max-width: 700px) {
    .text-box h1 {
        font-size: 20px;
    }

    .nav-links ul li {
        display: block;
    }

    .nav-links {
        position: absolute;
        background: #A17F63;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    .text-box p {
        font-size: 16px;
    }

    nav .fa {
        display: block;
        color: black;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links ul {
        padding: 30px;
    }
}
/*--breakpoints--*/  



html{
    scroll-behavior: smooth;
}


/*----- menu -----*/

.menu {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.menu h1 {
    font-size: 36px;
    font-weight: 600;
}

.menu p {
    color: black;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
}

@media(max-width: 700px) {
    .row {
        flex-direction: column;
    }
}

/*----lista tuotteista-----*/

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
}

.card {
    width: 325px;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px;
}

.card img{
    width: 100%;
    height: auto;
}

.card-content {
    padding: 16px;
}

.card-content h3 {
    font-size: 28px;
    margin-bottom: 8px;
}

.card-content p {
    font-size: 15px;
    color: #666;
    line-height: 20px;
}

.card-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.card-content h2 {
    font-size: 14px;
    margin-bottom: 20px;
    color: gray;
}

.card-content p {
    font-size: 14px;
    margin-bottom: 20px;
}

.card:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
    transition: 0.5s;
}


.card-content button {
    padding: 8px 16px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.2s;
}

.btn {
    display: inline-block;
    background-color: #A17F63;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none; 
    transition: 0.3s ease;
}

.btn:hover {
    background-color: #f44336;
}


/*footer*/

footer{
    width: 100%;
    padding: 30px 0 0 20px;
    background: #eeeeee;
}

footer .footer_main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

footer .footer_main .footer_tag{
    text-align: center;
}

footer .footer_main .footer_tag h2{
    color:#000;
    margin-bottom: 25px;
    font-size: 30px;
}

footer .footer_main .footer_tag p{
    margin: 10px 0;
}

footer .footer_main .footer_tag i{
    margin: 0 10px;
    cursor: pointer;
}

footer .footer_main .footer_tag i:hover{
    color: #f44336;
}

footer .end {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

@media (max-width: 700px) {
    footer .footer_main {
        grid-template-columns: 1fr; /* 1 column on small screens */
        padding: 0 10px; /* Less padding */
    }

    footer .footer_main .footer_tag h2 {
        font-size: 18px; /* Smaller title text */
    }

    footer .footer_main .footer_tag p {
        font-size: 15px; /* Smaller title text */
    }

    footer .footer_main .footer_tag i {
        font-size: 15px; /* Smaller icons */
    }
    footer .end {
        font-size: 15px;
        padding: 10px; /* Adjust footer end padding for mobile */
    }
}